.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1.2em;
  max-width: 1.2em;
  min-height: 1.2em;
  min-width: 1.2em;
  color: var(--primary-color);
  background: radial-gradient(circle, var(--secondary-color), var(--secondary-bg-color));
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(154, 147, 113, 0.95);
}
