:root {
  --primary-color: #007AAA;
  --secondary-color: #FFF;
  --primary-bg-color: #111;
  --secondary-bg-color: #E1E1E1;
  --primary-highlight: #118BBB;
  --primary-highlight-inverse: #666;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: radial-gradient(circle, var(--primary-highlight-inverse), var(--primary-bg-color));
  color: var(--primary-bg-color);
}

.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 5em;
  font-weight: 700;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
