.summaryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  background: linear-gradient(var(--primary-color), var(--primary-highlight), var(--primary-color));
  color: #E1E1E1;
  text-shadow: 2px 2px #222;
  box-shadow: 0 5px #108ABA;
  font-size: 2.5em;
}

.currentScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
