.roundContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--secondary-color);
}

.currentHole {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(154, 147, 113, 0.95);
}
