.scoreContainer {
  display: flex;
  align-items: center;
  height: 200px;
  width: 95%;
  background: var(--secondary-bg-color);
  color: var(--primary-color);
  font-size: 5em;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 0 10px;
  box-shadow: 0 6px 7px rgba(255, 255, 255, 0.5), inset 0 0 2px rgba(154, 147, 113, 0.95);
}

.name {
  display: flex;
  flex: 4;
  justify-content: left;
}

.plus, .score, .minus {
  display: flex;
  flex: 1;
  justify-content: center;
}
