.mainMenu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.mainMenu li {
  flex: 1
}
